<!DOCTYPE html>

<html>
  <head>
    <title>fCC Backend APIs Projects</title>
    <link rel="shortcut icon" href="/api_main.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Kate's fCC Backend Apps Collection</h1>
    <hr />
    <div class="container">
      <h2>Projects:</h2>
      <ul>
        <li><a href="./timestamp">Timestamp Microservice</a></li>
        <li><a href="./request-header-parser">Request Header Parser</a></li>
        <li><a href="./url-shortener">URL Shortener Microservice</a></li>
        <li><a href="./exercise-tracker">Exercise Tracker</a></li>
        <li><a href="./file-metadata">File Metadata</a></li>
      </ul>
    </div>
    <div class="footer">
      <p>
        By
        <a href="https://ek8.io">Kate Platonova</a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/katplat">LinkedIn</a>
      </p>
    </div>
  </body>
</html>
