<!DOCTYPE html>

<html>
  <head>
    <title>fCC Backend APIs Projects</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Kate's fCC Backend Apps Collection</h1>
    <hr />
    <div class="container">
      <h2>Projects:</h2>
      <ul>
        <li><a href="./timestamp">Timestamp Microservice</a></li>
        <li><a href="./requestHeaderParser">Request Header Parser</a></li>
        <li><a href="./urlShortener">URL Shortener Microservice</a></li>
        <li><a href="./exerciseTracker">Exercise Tracker</a></li>
      </ul>
    </div>
    <div class="footer">
      <p>
        By
        <a href="https://ek8.io/">Kate Platonova</a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/katplat/">LinkedIn</a>
      </p>
    </div>
  </body>
</html>
